# MATLAB
*.asv
*.mex*
slprj/
*.autosave


# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Python
*.pyc
__pycache__
.venv

# HERA Output
Ranking_*/

# OS
.DS_Store

# Build Artifacts
deploy/output/
release/
data/examples/Example_2_workflow/results/Alpha_*

# Analysis
+HERA/+analysis/

# Zenodo
.zenodo.json
