name: Build HERA Runtime

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      MATLAB_LICENSE: ${{ secrets.MATLAB_LICENSE }}


    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: 'R2025b' # Adjust to your target MATLAB version but keep incompatibility issues in mind!
          products: |
            Statistics_and_Machine_Learning_Toolbox
            Parallel_Computing_Toolbox
            MATLAB_Compiler

      - name: Run Unit Tests
        uses: matlab-actions/run-command@v2
        with:
          command: run('tests/run_HERA_tests.m')

      - name: Build HERA Runtime and Toolbox
        if: env.MATLAB_LICENSE != ''
        uses: matlab-actions/run-command@v2
        with:
          command: |
            addpath('deploy');
            build_HERA_matlab();
            package_HERA_toolbox();
            build_HERA_python();


      - name: Archive Artifacts
        if: env.MATLAB_LICENSE != ''
        uses: actions/upload-artifact@v4
        with:

          name: HERA_Installer_${{ matrix.os }}
          path: |
            deploy/output/


      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            deploy/output/matlab/*
            deploy/output/toolbox/*
            deploy/output/python/*
