name: Manual Test for HERA

on:
  workflow_dispatch:

jobs:
  run-tests:
    name: Run HERA Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2

      - name: Run Tests
        uses: matlab-actions/run-command@v2
        with:
          command: run('tests/run_tests.m')
